<% content_for :summary do %>
<div class="form">
    <h2>Welcome back!</h2>
    <%= render "sessions/form" %>
</div>
<% end %>
<% content_for :showcase do %>
    <%= render "static_pages/welcome" %>
    <div class="form clear">
        <h1>Travel with us!</h1>
        <%= render "users/form" %>
    </div>
<% end %>
