<ul class="users">
  <% @users.each do |user| %>
    <div class = "index_users_item">
      <div class="show_follow_gravatar">
		<%= gravatar_for user %>
      </div>
      <div class="show_follow_email">
		<%= link_to user.email, user%>
	  </div>
    </div>
  <% end %>
</ul>
