<p id="notice"><%= notice %></p>
<% content_for :showcase do %> 
    <div>
      <h3>User's showcase</h3>
      <%= render 'shared/showcase', collection: @showcase_items %>
    </div>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
