<% provide(:title, @title) %>
<% content_for :showcase do %>
<div class="row">
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render 'users/user' %>
      </ul>
    <% end %>
	<% if @route %>
	  <%= link_to 'Back to route', @route, :class => "back_button"%>	 
	<% else %>
	  <%= link_to 'Back to user', current_user, :class => "back_button", :title => 'Go back to your profile page' %>
	<% end %>
  </div>
</div>
<% end %>