<% @showcase_items.each do |item| %>
  <div class="showcase_item">
      <% if item.instance_of?(Route)%>
          <% @temp_route = item %>
		  <%= render 'shared/route_showcase_item' %>
      <% else %>
        <% @temp_event = item %>
        <%= render 'shared/event_showcase_item' %>
      <% end %>
  </div>
<% end %>