<div class="stats summary_part">
  <span class="stats_half">
    
    <a href="<%= following_user_path(@user) %>">					
          <%= @user.followed_users.count %>
    </a>
    <span class='stats_info' title='Who do you follow?' >following</span>
    
  </span>
  <span class="stats_half">
    
    <a href="<%= followers_user_path(@user) %>">
	  <%= @user.followers.count %>
    </a>
	<span class='stats_info' title='Who is following your profile?'>followers</span>
  </span>
  
</div>