<p>
	<% if !current_user.attend?(@event) %>
		<%= link_to "Will attend!", attend_event_path(:event_id => @event.id), :class => 'action_button'  %>	
	<% else %>
		<%= link_to "Do not want to attend anymore", unattend_event_path(:event_id => @event.id), :class => 'action_button' %>
	<% end %>
</p>