<div id="map" class="detail_field">
    <span class="detail_head">Here is a map of the route:</span>@route.map
</div>
<div class="detail_field">
	<span class="detail_head">Description:</span> <%= @route.description %>
</div>
