<% if current_user.tried?(@route) %>
    <%= link_to "Reset my info with this route", :controller => :routes, :action => :untry %>
<% else %>
    <%if !current_user.want_try?(@route) %>
        <%= link_to "Want to try", wanters_route_path(:route_id => @route.id)  %>
    <% else %>
        <span class="half_horizontally"><%= link_to "Already tried route", triers_route_path(:route_id => @route.id)  %></span>
        <span class="half_horizontally"><%= link_to "Don't want to try it anymore", :controller => :routes, :action => :unwant %></span>
    <% end %>
<% end %>