<% content_for :showcase do %>
<div class="form">
    <h1>New route</h1> 

      <% flash.each do |key, value| %>										
        <div class="alert alert-<%= key %>"><%= value %></div>			
      <% end %>
      
    <%= render 'form' %>
</div>
<% end %>
<% content_for :summary do %>  
    <%= link_to 'Your profile', current_user %>
<% end %>
