<% content_for :javascripts do %>
    <%= javascript_include_tag 'demand/thumbs', 'demand/route_photogallery' %>
<% end %>
<% content_for :showcase do %>
	<h1> Photogallery </h1>	
	<div>
        <% @all_photos.each do |photo|%>
            <div class="photo_container">
                <div class="photo_thumb"> 
                    <%= link_to image_tag("photogalleries/" + photo.id.to_s+ "/" + photo.image_file_name, :alt => photo.image_file_name) %>
                </div>
                <% if photo.is_owner?(current_user) %>
                        <div class="photo_controls">
                            <%= link_to 'x', :controller => :routes, :action => :delete_photo_from_photogallery,
                                :route_id => @route.id, :photo_id => photo.id%>
                        </div>
                        <div class="clear"> </div>
                <% end %>
            </div>
        <% end %>
        <div class="clear"> </div>
    </div>	
    
	<%= link_to 'go back to the route', @route, :class => "back_button"%>
<% end %>