/* CSS Document */
body, div, h1, h2, h3, p,ol, img, header, section, aside, footer, button {
	margin: 0; padding: 0; border: 0; list-style: none;
}
body{
  background-color: rgb(255,255,153);
  font-family: sans-serif;
}
h1, h2, h3 {
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, sans-serif;
	font-weight: bolder;
}
header#site_head {
	box-shadow: inset 0px -2px 3px #480508;
	border-bottom: 1px solid #fffffb;
	height: 70px;
	width: 100%;
	display: block;
   background-color: #1a82f7; 
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,153,0)), to(rgb(204,102,0)));
   background-image: -webkit-linear-gradient(top, rgb(255,153,0), rgb(204,102,0)); 
   background-image:    -moz-linear-gradient(top, rgb(255,153,0), rgb(204,102,0));
   background-image:     -ms-linear-gradient(top, rgb(0,102,0), #2F2727);
   background-image:      -o-linear-gradient(top, rgb(0,102,0), #2F2727);
}
header#site_head a{
    text-decoration:none;
    color:rgb(255,255,255);
    text-shadow: 0px 0px 10px black;
}
.header_cont {
		width: 960px;
		margin: 0 auto;
		padding-top: 15px;
	}

		.header_cont h1 {
			text-indent:-9999px;
			float: left;
		}

		.header_cont h1 a {
            margin-top:-10px;
			background: url(logo.png) no-repeat;
            background-size:contain;
			width: 160px;
			height: 60px;
			display: block;
            color: #000; /* Fallback for older browsers */
            color: rgba(0, 0, 0, 0.5);
		}

		.header_cont h1 a:hover {
            
		}
        .header_cont h1 a:hover{
        }

		nav.head_nav {
			float: right;
			margin-top: 13px;
		}

		nav.head_nav ul li {
			display: inline;
			margin: 0px 5px;
		}	

			nav.head_nav ul li a {
				color: #f6f6ee;
				font-size: 12px;
				font-weight: normal;
				text-transform: lowercase;
				padding: 5px 8px;
			}

			nav.head_nav ul li.home a {
				background: #4f1d1e;
				-moz-border-radius: 10px;
				-khtml-border-radius: 10px;
				-webkit-border-radius: 10px;
				border-radius: 10px;
			}

			nav.head_nav ul li a:hover {
				text-shadow: 1px 1px 1px #2c0306;
				background: #4f1d1e;
				-moz-border-radius: 10px;
				-khtml-border-radius: 10px;
				-webkit-border-radius: 10px;
				border-radius: 10px;
				-moz-box-shadow: inset 0px 0px 2px #2c0306;
				-khtml-box-shadow: inset 0px 0px 2px #2c0306;
				-webkit-box-shadow: inset 0px 0px 2px #2c0306;
				box-shadow: inset 0px 0px 2px #2c0306;
				color: #f6f6ee;
			}
			nav.head_nav ul li.rss {
				position: relative;
				left: -355px;
				margin: 0;
				}

			nav.head_nav ul li.rss a {
				color: #b4676c;
				border-right: 1px solid #903f43;
				margin: 0;
				padding-left: 20px;
				background: url(images/rss.png) left no-repeat;
				font-size:10px;
		}
		nav.head_nav ul li.rss a:hover {
				color: #f6f6ee;
				-moz-border-radius: 0;
				-khtml-border-radius: 0;
				-webkit-border-radius: 0;
				border-radius: 0;
				-moz-box-shadow: none;
				-khtml-box-shadow: none;
				-webkit-box-shadow: none;
				box-shadow: none;
		}
		
    div#main_content{
        width:960px;
        position:absolute;
        left:50%;
        margin-left:-480px;
    }
    section{
      padding: 2px 2px 2px 2px;
      margin: 2px 2px 2px 2px;
      background-color:#FFFFFF;
      border-radius:5px;
      box-shadow: inset 0px 0px 3px rgb(153,102,0);
	  color:#404040;
    }
    section#summary{
      width: 240px;
      float:left;
    }
    section#controls{
      width: 650px;
      float:right;
    }
    section#showcase{
      float:right;
      width: 700px;
    }
    section#more{
      clear:both;  
    }
    div.summary_part{
        padding-top:5px;
        padding-bottom:5px;
        background-color:rgb(204,204,102);
        box-shadow: inset 0px 0px 3px rgb(153,102,0);
        border-radius:5px;
    }
    div.visit_card{
        background-color:rgb(204,204,102);
        padding-bottom:10px;
        box-shadow: inset 0px 0px 3px rgb(153,102,0);
        border-radius:5px;
    }
    div.visit_card h1{
        font-size: 16px;
        text-align:center;
        margin-bottom:10px;
    }
    div.visit_card img{
        margin-left:5px;
    }
    div.menu a{
        color:black;
        display:block;
        text-align:center;
        font-weight:bold;
        margin-top:5px;
    }
    div.menu a:hover{
        background-color:white;
        border-radius:5px;
    }
    img.rounded_corners{
        width:75px;
        border-radius:5px;
        box-shadow: 0px 0px 3px rgb(153,102,0);
    }
    
    div.visit_card span{
        font-size: small;
        float:right;
        width: 170px;
        margin-top: 5px;
    }
    .right{
        float:right;
    }
    .clear{
        clear:both;
    }
    div.stats{
        margin-top:10px;
        width:100%;
        text-align:center;
    }
    div.stats a{
        display:block;
        z-index:5;
        width:100%;
        color:black;
    }
    span.stats_half{
        width:45%;
        display:inline-block;
        height:50px;
        text-align:center;
        font-variant:small-caps;
        font-size: 150%;
        font-weight:bold;
        text-shadow: 0px 0px 10px rgb(153,102,0);
    }
    span.stats_info{
        color:white;
        width:100%;
        margin-top:-2px;
        margin-bottom:-5px;
		font-size: 90%;
        display:block;
        z-index:0;
        text-align:center;
    }
    div.showcase_item{
        padding-top:5px;
        padding-bottom:5px;
        padding-left:3px;
        padding-right:3px;
        margin-top:10px;
        border-radius:5px;
        box-shadow: 
        inset 0px 11px 3px -10px rgb(153,102,0),
        inset 0px -11px 3px -10px rgb(153,102,0); 
    }
    div.showcase_item:hover{
        box-shadow: 
        inset 0px 0px 3px 1px rgb(153,102,0);
    }
    div.showcase_item img{
        float:left;
        margin-right: 10px;
    }
    div.showcase_item a{
        color:black;
        font-weight:bold;
        text-decoration:none;
    }
    div.showcase_body{
        float:left;
        width:100%;
    }
    div.showcase_user{
        text-align:left;
    }
    div.showcase_log{
        float:left;
        text-align:right;
        opacity:0.0;
        font-weight:bold;
    }
    div.showcase_item:hover div.showcase_log{
        opacity:1.0;
    }
    div.showcase_props{
        text-align:center;
        width:100%;
        font-variant:small-caps;
    }
    div.showcase_controls{
        float:right;
        width:15px;
    }
    span.half_horizontally{
        width:49%;
        display:inline-block;
        text-align:center;
    }
	
	div.new_route{
		margin-left:15px;
	}	
    div.new_route_item{
        margin-top:10px;
    }
	h1.new_route_header{
	font-size: 30px;
	text-align:center;
	margin-top:10;
	margin-bottom:20px;
	}
	
    div.form{
        padding-top:5px;
        padding-bottom:5px;
        background-color:rgb(204,204,102);
        box-shadow: inset 0px 0px 3px rgb(153,102,0);
        border-radius:5px;
    }
    div.form h1{
        text-align:center;
    }
    div.field{
        width:80%;
        position:relative;
        left:10%;
    }
    div.field label{
        float:left;
        width:200px;
    }
    div.field textarea,input[type=text],input[type=password]{
        max-height:125px;
        width:100%;
    }

	/* Datepicker - rectangle in top of the page ------------*/
#ui-datepicker-div{ display: none; position: absolute; left: -99999999px; }

/* Buttons ------------*/
div.actions{
	width: 35%;
    margin: 15px auto;
}
.action_button{
	margin-top:15px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #c7c5c7) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #c7c5c7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#c7c5c7');
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#1f1d1f;
	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #faf2fa;
}.action_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c7c5c7), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #c7c5c7 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c5c7', endColorstr='#f9f9f9');
	background-color:#c7c5c7;
}.action_button:active {
	position:relative;
	top:1px;
}

/*pop-up windows*/
 .ui-tooltip {
background: white;
border: 2px solid black;
 padding: 10px 20px;
color: black;
font: bold 14px "Helvetica Neue", Sans-Serif;
box-shadow: 0 0 7px black;
}


/* Flash and notice messages ------------*/
div.notice{
	text-align:center;
	color: #f00;
	margin: 0 0 18px 0;
}

div.errors{
	color: #F43636;
	font-size:12px;
	font-weight:bold;
	margin:25px 0px 25px 15px;
}
div.switch a{
    font-size:large;
    text-decoration:none;
    font-variant:small-caps;
    color:white;
    text-shadow: -1px 0px 3px rgb(153,102,0), 0px 1px 3px rgb(153,102,0), 1px 0px 3px rgb(153,102,0), 0px -1px 3px rgb(153,102,0);
    
}
div.detail_title span{
	margin: 20px 0px 15px 10px;
    float:left;
    font-weight:bold;
    font-size:large;
}
div.wanna_try{
    text-align:center;
    margin-top:10px;
}
div.wanna_try a{
    font-variant:small-caps;
    text-decoration:none;
    color:white;
    font-weight:bolder;
    display:block;
    border-radius:5px;
    box-shadow: 
    inset 0px 11px 3px -10px rgb(153,102,0),
    inset 0px -11px 3px -10px rgb(153,102,0);
    text-shadow: -1px 0px 2px rgb(153,102,0), 0px 1px 2px rgb(153,102,0), 1px 0px 2px rgb(153,102,0), 0px -1px 2px rgb(153,102,0);
    
}
div.wanna_try a:hover{
    box-shadow: 
    inset 0px 0px 3px 1px rgb(153,102,0);
}
div.detail_title a{
    color:black;
    margin-left:25px;
    font-size:normal;
    font-variant: small-caps;
}
div.detail_field{
    padding-left:15px;
}
span.detail_head{
    text-indent:-10px;
    font-weight:bold;
    font-variant:small-caps;
    display:block;
}
div.follow_button{
	margin-left:90px;
	margin-top:10px;
	margin-bottom:-25px;
}
div.photo_gallery{
    background: #444;
    margin: 0 auto;
}
div.photo_container{
    
    margin-bottom:5px;
    margin-top:5px;
    margin-left:2px;
    margin-right:3px;
    padding:1px 1px 1px 1px;
    float:left;
}
div.photo_thumb{
    width:200px;
    height:135px;
    float:left;
    text-align:center;
    overflow:hidden;
}
div.photo_controls{
    display:block;
    float:left;
    opacity:0.0;
}
div.photo_controls a{
    color:white;
    font-weight:bold;
    text-decoration:none;
}
div.photo_container:hover div.photo_controls{
    opacity:1.0;
}
div.photo_container:hover{
    background-color:grey;
    border-radius:5px;
}
div.gallery_entry{
    display:inline-block;
    text-align:center;
    margin-bottom:5px;
    margin-top:5px;
    margin-left:5px;
}
div.gallery_entry span{
    display:inline-block;
    z-index:5;
    margin-top:-20px;
}
div.gallery_entry a{
    display:inline-block;
    color:white;
    text-shadow: -1px 0px 3px rgb(153,102,0), 0px 1px 3px rgb(153,102,0), 1px 0px 3px rgb(153,102,0), 0px -1px 3px rgb(153,102,0);
    
    font-weight:bold;
}
div.gallery_thumb{
    width:200px;
    height:150px;
    text-align:center;
    box-shadow:0px 0px 3px 1px black;
    overflow:hidden;
}
div#photo_detail{
    text-align:center;
    position:fixed;
    top:10%;
    left:10%;
    width:80%;
    height:80%;
    z-index:5;
    display:none;
}
div#photo_detail img{
    box-shadow:0px 0px 150px 100px black;
    background-color:black;
    }
img.wide {
    max-height: 100%;
    max-width: 100%;
    height: auto;
}
img.tall {
   max-height: 100%;
    max-width: 100%;
    width: auto;
}
p.bio{
	width:240px;
	margin-top:25px;
	margin-left:8px;
}
p.info{
	width:160px;
	margin-left:90px;
}
p.gravatar{
	margin-left:5px;
	float: left;
}
div.gravatar_set{
	margin: 20px 0px 10px 65px;
	font-weight:bold;
	font-variant:small-caps;
}
a.gravatar_set:hover{
	color:black;
	background-color:#cccccc;
}
/*BACK BUTTON */
.back_button{
	margin: 5px 0px 10px 20px;
	-moz-box-shadow:inset 0px 1px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #000000;
	box-shadow:inset 0px 1px 0px 0px #000000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc');
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	color:#0a090a;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 5px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.back_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff');
	background-color:#cccccc;
}.back_button:active {
	position:relative;
	top:1px;
}
div.allusers{
	margin:15px 0px 15px 100px;
}
table.allusers td{
	padding-right:100px;
}
table.allusers tr:hover{
	background-color:white;
	border-radius:5px;
}

div.index_users_item a:hover{
	background-color:white;
	border-radius:5px;
}
div.show_follow_gravatar{
	margin: 10px 0px 20px 40px;
}
div.show_follow_email{
	margin: -60px 0px 40px 130px;
}
div.find_address{
	margin: 10px 0px 10px 300px;
}
div.map_form{
	margin-top: 30px;
}
span.newroutehelp{
	color:#707070;
	float:right;
	margin-right:20px;
}
/*Place picker button*/
.map_control {
	margin: 5px 0px 10px 30px;
	-moz-box-shadow:inset 0px 1px 5px -31px #fceaca;
	-webkit-box-shadow:inset 0px 1px 5px -31px #fceaca;
	box-shadow:inset 0px 1px 5px -31px #fceaca;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffce79), color-stop(1, #eeaf41) );
	background:-moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
	background-color:#ffce79;
	border:5px solid #c27f1b;
	display:inline-block;
	color:#333333;
	font-family:Georgia;
	font-size:13px;
	font-weight:bold;
	padding:6px 4px;
	text-decoration:none;
}.map_control:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeaf41), color-stop(1, #ffce79) );
	background:-moz-linear-gradient( center top, #eeaf41 5%, #ffce79 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
	background-color:#eeaf41;
}.map_control:active {
	position:relative;
	top:1px;
}
div.control{
	margin: 5px 0px 10px 20px;
}
div.comments_stream{
    padding-top:10px;
    padding-bottom:10px;
    border-radius:5px;
    box-shadow: 
    inset 0px 11px 3px -10px rgb(153,102,0),
    inset 0px -11px 3px -10px rgb(153,102,0);
}
div.comment{
    margin-top:5px;
    margin-bottom:5px;
}
div.comment div.comment_author{
    font-weight:bold;
}
div.comment div.comment_author a{
    font-weight:bold;
    color:black;
    
}
div.comment div.comment_controls{
    float:right;
    width:15px;
    margin-left:15px;
}
div.comment div.comment_controls a{
    color:black;
    text-decoration:none;
    font-weight:bold;
}

div.comment div.comment_created{
    float:right;
    color:grey;
}