<% content_for :showcase do %>
	<div class="form">
		<h1>Edit Personal Info  </h1>

		<%= render 'form' %>

		<%= link_to 'Back', current_user, :class => "back_button", :title => 'Go back to your profile page'  %>
	</div>
<% end %>